
@{
    ViewBag.Title = "successfullyconverted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Successfully converted from pdf to html</h2>
<p><a target="_blank" href="/htmlfiles/@ViewBag.convertedfilename">@ViewBag.convertedfilename</a></p>

